@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #323030;
  color: rgb(244, 238, 238);
  font-family: "Nunito";
}
a {
  color: rgb(242, 238, 238);
  text-decoration: none;
}

nav {

  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* border-bottom: 1px solid #ddd; */
  color:rgb(252, 246, 246);
  vertical-align: top;
}

nav a {
  margin-left: 12px;
}







.footer-list {
  padding-top: 200px;
  display: flex;
  gap: 5px;
  text-align: center;
  list-style: none;
  align-items: center;
  justify-content: center;

}
.footer-list li:hover {
  text-decoration: underline;
}
  
