/* may want to comment out lclick and rclick and then make a way to use grid*/

.url {
    text-align: center;

}

.image {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

.active {
    justify-content: center;
    display: grid;
    grid-template-columns: 50%;
    
}


.project {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  } 


  .lclick {
    position: relative;
    font-size: 5rem;
    z-index: 10;
    cursor: pointer;
  }

  .rclick {
    position: relative;
    font-size: 5rem;
    z-index: 10;
    cursor: pointer;
  }

  .info {
    opacity: 0;
    transition-duration: 1s;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  /* .url {
    visibility: hidden;
  } */

  .info:hover {
   opacity: 1;
   transition-duration: 1s;
   color: black;
  }
  

/* 
  .rclick{
    position: absolute;
    top: 135%;
    right: 32px;
    font-size: 7rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .lclick{
    position: absolute;
    top: 135%;
    left: 32px;
    font-size: 7rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  } */

  .slide {
    opacity: 0;
    transition-duration: 1s;

  }

  .slide.active {
    opacity: 1;
    transform: scale(1.08);
  }
