.picture {
    border: 10px white solid;
    left: 50px;
    float: left;
   
}
/* .picture:hover {
    opacity: 75%;
} */
.text {
    color:rgb(255, 255, 255);
    position: absolute;
    top: 200px;
    left: 16px;
}
.spline {
    float: right;
    
}

/* .grid {
    
    
} */