
.name {
    color:rgb(255, 255, 255);
    padding-bottom: 20px;
    text-align: center;
}
.spline {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

